<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daftar Tamu</title>
</head>
<body>
    <h1>Daftar Tamu</h1>

    <a th:href="@{form}">Tambah Data</a>

    <table border="1" cellpadding="4">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Email</th>
                <th>Kota</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t : ${daftarTamu}">
                <td th:text="${t.nama}">Tamu 001</td>
                <td th:text="${t.email}">t001@gmail.com</td>
                <td th:text="${t.kota.nama}">Bandung</td>
                <td>
                    <a th:href="@{form(id=${t.id})}">edit</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>